{% extends "base.html" %}
{% load static %}
{% block title_name %}K近邻原理{% endblock title_name %}
{% block k_nearest_neighbor_open %}menu-open{% endblock k_nearest_neighbor_open %}
{% block k_nearest_neighbor_light %}active{% endblock k_nearest_neighbor_light %}
{% block knn_theory_light %}active{% endblock knn_theory_light %}
{% block main_part %}
    <section class="col-lg-12 connectedSortable">
        <div id="container" style="width:1060px;height:800px;margin-top:3%;"></div>
    </section>
    <script>
        $(document).ready(function () {
            $(function () {
                var data = {{ data|safe }};
                drawBar("container", data);
            });
            var xData = [];
            var yData = [];
// 在键盘按下并释放及提交后验证提交表单
            $(function () {
                $("#signupForm").validate({
                    onkeyup: true,
                    rules: {
                        k: {
                            range: [1, 1000],
                            required: true
                        },
                        b: {
                            range: [1, 1000],
                            required: true
                        },
                        N_true: {
                            range: [10, 200],
                            required: true
                        },
                        N_noise: {
                            range: [10, 200],
                            required: true
                        },
                        mu: {
                            range: [1, 50],
                            required: true
                        },
                        sigma: {
                            range: [1, 50],
                            required: true
                        },
                    },
                    messages: {}
                });
            });

            //data = {};
            $.ajaxSetup({  // ajaxSetup() 方法为将来的 AJAX 请求设置默认值
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},  // data键表示规定要发送到服务器的数据
            });
            $('#tijiao').click(function () {  // 当提交表单时，会发生submit事件。该事件只适用于表单元素
                // submit()方法触发submit事件，或规定当发生submit事件时运行的函数
                if (!$("#signupForm").valid()) {
                    // alert("数据不合理!");
                    return;
                }
                data.k = $("#k").val();  // 对id为k的元素执行val()方法，以获取input输入的值
                data.b = $("#b").val();  // 同上
                data.N_true = $("#N_true").val();  // 同上
                data.N_noise = $("#N_noise").val();  // 同上
                data.mu = $("#mu").val();  // 同上
                data.sigma = $("#sigma").val();  // 同上
                $.ajax({  //ajax()方法用于执行 AJAX（异步 HTTP）请求，所有的jQuery AJAX方法都使用ajax()方法
                    type: "POST",  // 规定请求的类型（GET 或 POST）
                    data: data,  // 规定要发送到服务器的数据
                    url: "{% url 'theory:BGD' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,  // 布尔值，表示浏览器是否缓存被请求页面。默认是 true
                    dataType: "json",  // 预期的服务器响应的数据类型
                    error: erryFunction,  //错误执行方法
                    success: succFunction //成功执行方法
                });

                function succFunction(data) {  // 当请求成功时运行的函数
                    drawBar("container", data);
                }

                function erryFunction() {
                    alert('数据请求错误！')
                }

                return false;
            });

            function drawBar(divId, data) {
                var myChart = echarts.init(document.getElementById(divId));
                var option = {
                    tooltip: {},
                    grid: {
                        right: 200,  //距离左侧
                        left: 200   //
                    },
                    xAxis: {
                        type: 'value',
                        data: xData,
                        max: data.X_max + 0.5,
                        min: data.X_min - 0.5,
                        scale: true,
                        splitNumber: 20,
                    },
                    yAxis: {
                        type: 'value',
                        data: yData,
                        max: data.Y_max + 0.5,
                        min: data.Y_min - 0.5,
                        scale: true,
                        splitNumber: 20,
                    },
                    visualMap: [{
                        show: true,
                        left: "50",
                        top: "30",
                        right: "auto",
                        bottom: "auto",
                        type: 'continuous',
                        min: 0,
                        max: 1,
                        calculable: true,
                        realtime: true,
                        dimension: 2,        //指定用数据的『哪个维度』，映射到视觉元素上。『数据』即 series.data。 可以把 series.data 理解成一个二维数组,其中每个列是一个维度,默认取 data 中最后一个维度
                        seriesIndex: 0,
                        splitNumber: 8,
                        inRange: {
                            symbol: 'circle',
                            color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                        }
                    },
                        {
                            show: true,
                            left: "50",
                            top: "300",
                            right: "auto",
                            bottom: "auto",
                            type: 'continuous',
                            min: 0,
                            max: 1,
                            calculable: true,
                            realtime: true,
                            //dimension:1,        //指定用数据的『哪个维度』，映射到视觉元素上。『数据』即 series.data。 可以把 series.data 理解成一个二维数组,其中每个列是一个维度,默认取 data 中最后一个维度
                            seriesIndex: 1,
                            splitNumber: 8,
                            inRange: {
                                //symbol:'diamond',
                                color: ['#fee090', '#fdae61', '#f46d43']
                            }
                        }],
                    series: [{
                        name: 'Gaussian',
                        type: 'heatmap',
                        data: data.test_data,
                        itemStyle: {
                            emphasis: {
                                borderColor: '#333',
                                borderWidth: 1
                            }
                        },
                        progressive: 1000,
                        animation: false
                    },
                        {
                            type: 'scatter',
                            data: data.train_data
                        }]
                };
                myChart.setOption(option);
            }
        });
    </script>
{% endblock main_part %}