{% extends "base.html" %}
{% load static %}
{% block title_name %}线性回归仿真数据{% endblock title_name %}
{% block simulation_data_open %}menu-open{% endblock simulation_data_open %}
{% block simulation_data_light %}active{% endblock simulation_data_light %}
{% block regression_simulation_light %}active{% endblock regression_simulation_light %}
{% block main_part %}
    <section class="col-lg-12 connectedSortable">
        <div id="main" style="width: 100%;height:600px;margin-top:3%;"></div>
    </section>
    <script>
        $(document).ready(function () {
            // 初始化画图函数
            $(function () {
                var data = {{ data|safe }}
                    drawBar("main", choose(data.x, data));
            });
            // 在键盘按下并释放及提交后验证提交表单
            $(function () {
                $("#signupForm").validate({
                    onkeyup: true,
                    rules: {
                        n_samples: {
                            range: [1, 1000],
                            required: true
                        },
                        n_features: {
                            range: [1, 1000],
                            required: true
                        },
                        n_redundant: {
                            range: [0, 10],
                            required: true
                        },
                        n_classes: {
                            range: [0, 10],
                            required: true
                        },
                        n_clusters_per_class: {
                            range: [1, 20],
                            required: true
                        }
                    },
                    messages: {}
                });
            });

            data = {};
            $.ajaxSetup({  // ajaxSetup() 方法为将来的 AJAX 请求设置默认值
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},  // data键表示规定要发送到服务器的数据
            });
            $('#tijiao').click(function () {  // 当提交表单时，会发生submit事件。该事件只适用于表单元素
                // submit()方法触发submit事件，或规定当发生submit事件时运行的函数
                if (!$("#signupForm").valid()) {
                    // alert("数据不合理!");
                    return;
                }
                data.n_samples = $("#n_samples").val();  // 对id为k的元素执行val()方法，以获取input输入的值
                data.n_features = $("#n_features").val();  // 同上
                data.n_redundant = $("#n_redundant").val();  // 同上
                data.n_classes = $("#n_classes").val();  // 同上
                data.n_clusters_per_class = $("#n_clusters_per_class").val();  // 同上
                $.ajax({  //ajax()方法用于执行 AJAX（异步 HTTP）请求，所有的jQuery AJAX方法都使用ajax()方法
                    type: "POST",  // 规定请求的类型（GET 或 POST）
                    data: data,  // 规定要发送到服务器的数据
                    url: "{% url 'theory:LSD' %}", //后台处理函数的url 这里用的是static url 需要与urls.py中的name一致
                    cache: false,  // 布尔值，表示浏览器是否缓存被请求页面。默认是 true
                    dataType: "json",  // 预期的服务器响应的数据类型
                    error: erryFunction,  //错误执行方法
                    success: succFunction //成功执行方法
                });

                function succFunction(data) {  // 当请求成功时运行的函数
                    drawBar("main", choose(data.x, data));
                }

                function erryFunction() {
                    alert('数据请求错误！')
                }

                return false;
            });

            function choose(x, json_data) {
                var data;
                if (x === 2)
                    data = {
                        // 2
                        'data': [
                            {
                                name: '类别一',
                                type: 'scatter',
                                data: json_data['data1'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    //]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            },
                            {
                                name: '类别二',
                                type: 'scatter',
                                data: json_data['data2'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    // ]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            }
                        ]
                    };
                else if (x === 3)
                    data = {
                        // 3
                        'data': [
                            {
                                name: '类别一',
                                type: 'scatter',
                                data: json_data['data1'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    //]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            },
                            {
                                name: '类别二',
                                type: 'scatter',
                                data: json_data['data2'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    //]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            },
                            {
                                name: '类别三',
                                type: 'scatter',
                                data: json_data['data3'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    //]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            }
                        ]
                    };
                else if (x === 4)
                    data = {
                        // 4
                        'data': [
                            {
                                name: '类别一',
                                type: 'scatter',
                                data: json_data['data1'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    // ]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            },
                            {
                                name: '类别二',
                                type: 'scatter',
                                data: json_data['data2'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    //]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            },
                            {
                                name: '类别三',
                                type: 'scatter',
                                data: json_data['data3'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    //]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            },
                            {
                                name: '类别四',
                                type: 'scatter',
                                data: json_data['data4'],
                                markArea: {
                                    silent: true,
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent',
                                            borderWidth: 1,
                                            borderType: 'dashed'
                                        }
                                    },
                                },
                                markPoint: {
                                    //data: [
                                    //{type: 'max', name: '最大值'},
                                    //{type: 'min', name: '最小值'}
                                    //]
                                },
                                markLine: {
                                    lineStyle: {
                                        normal: {
                                            type: 'solid'
                                        }
                                    },
                                }
                            }
                        ]
                    };
                return data
            }

            function drawBar(divId, data) {
                var myChart = echarts.init(document.getElementById(divId));
                var option = {
                    xAxis: {},
                    yAxis: {},
                    legend: {
                        left: 'center'
                    },
                    series: data['data']
                };
                myChart.setOption(option);
            }
        });
    </script>
{% endblock main_part %}
